<form (ngSubmit)="submit()">
    <div class="card" style="width: 41.3rem; margin-left: 400px;">
        <div class="card-body">
            <h5 class="card-title"><label for="city">City: </label></h5>
            <input type="text" class="form-control" name="city" [(ngModel)]="city">
            <h6 class="card-subtitle mb-2 text-muted"><small id="cityHelp" class="form-text text-muted">Your city, your
                    weather!</small></h6>
            <button type="submit" value="Submit" class="btn btn-outline-info btn-sm">Search</button>
        </div>
    </div>
</form>